[submodule "alonso_eva_20131025_141318/Gold-Standard-Inversion-Recovery-T1-Mapping"]
	path = alonso_eva_20131025_141318/Gold-Standard-Inversion-Recovery-T1-Mapping
	url = https://github.com/mathieuboudreau/Gold-Standard-Inversion-Recovery-T1-Mapping
