# Mac files
.DS_Store

# Python files
__pycache__/

# Data files
data/*/

# Image Files
*.nii
*.jpg

# Processing-specific files
AFI*.mnc
DA*.mnc
VFA*.mnc
*reg.mnc
*es.mnc
*resamp.mnc
b0*.mnc
brain*.mnc
*mri_*.mnc
*mri_1.mnc
*mri_2.mnc
b1*.mnc
t1*.mnc
*.imp

# Temp files
*~

# Processed files
*.mat
*.xfm
b0/
data/*/b1/
b1_whole_brain/
mask/
qmtopt_workingfolder/
qmtuk_workingfolder/
struct/
data/*/t1/
t1_whole_brain/
tal_tissue_classify/